<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    CALCULADORA EN ANGULAR
  </h1>
 <h2>Digita dos numeros: </h2>
<hr>
  <br><input type="number" placeholder="Primer numero" [(ngModel)]="numero1">
  <br><input type="number" placeholder="Segundo numero" [(ngModel)]="numero2">
 <br>
 <p>Elige la operacion que deseas realizar:</p>
<br>
  <button (click)="Calculo(numero1,numero2,'sumar')">SUMAR (+)</button>
  <br><button (click)="Calculo(numero1,numero2,'restar')">RESTAR (-)</button>
  <br><button (click)="Calculo(numero1,numero2,'multiplicacion')">MULTIPLICAR(*)</button>
  <br><button (click)="Calculo(numero1,numero2,'dividir')">DIVIDIR (/)</button>
  <br><button (click)="Calculo(numero1,numero2,'modulo')">MODULO(%)</button>
  <p>Resultado:<br><b>{{Resultado}}</b> </p><br>
   <button (click)="rest()">CE</button>
</div>

<router-outlet></router-outlet>
